@import "./variables.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Ubuntu;
}

body {
  background-color: var(--color-bg-primary);
  margin: 0 !important;
  color: var(--color-text-primary);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

strong {
  font-weight: 700;
}

/* POTATO STYLES START */

/* Bacgrounds */
.bg-secondary {
  background-color: var(--color-bg-secondary);
}

.bg-tertiary {
  background-color: var(--color-bg-tertiary);
}

.bg-white {
  background-color: var(--color-bg-white);
}

.bg-light-grey {
  background-color: var(--color-bg-light-grey);
}

.bg-dark-grey {
  background-color: var(--color-bg-secondary-dark);
}

/* Backgrounds End */

/* Colors */

.text-primary {
  color: var(--color-text-primary);
}

.text-secondary {
  color: var(--color-text-secondary);
}

.text-tertiary {
  color: var(--color-text-tertiary);
}

.text-grey {
  color: rgba(122, 122, 122, 1);
}

.text-black {
  color: var(--color-text-black);
}

/* Colors End */

/* Font Styles */

.text-primary {
  color: var(--color-text-primary);
}

.text-secondary {
  color: var(--color-text-secondary);
}

.text-tertiary {
  color: var(--color-text-tertiary);
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.font-light {
  font-weight: 400;
}

.font-regular {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

/* Font Styles End */

/* Font Sizes */

.text-xs {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.text-md {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-xl {
  font-size: 2rem;
  line-height: 2.5rem;
}

.text-2xl {
  font-size: 2.5rem;
  line-height: 3rem;
}

.text-3xl {
  font-size: 3rem;
  line-height: 3.5rem;
}

.text-title {
  font-size: 7rem;
  line-height: 7rem;
}

.lh-7 {
  line-height: 1.75rem;
}

.lh-8 {
  line-height: 2rem;
}

.lh-10 {
  line-height: 2.5rem;
}

/* Font Sizes End */

/* Layouts */

.none {
  display: none;
}

.hidden {
  display: hidden;
}

.container {
  max-width: 1200px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.y-0 {
  bottom: 0;
}

.m-minus {
  position: relative;
  top: -160px;
}

.m-auto {
  margin: 0 auto;
}

.h-auto {
  height: auto;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

/* Layouts End */

/* Max Widths */

.max-420 {
  max-width: 420px;
}

.max-450 {
  max-width: 450px;
}

.max-500 {
  max-width: 500px;
}

.max-660 {
  max-width: 660px;
}

.max-h-420 {
  max-height: 420px;
}

.max-h-500 {
  max-height: 500px;
}

.min-h-500 {
  min-height: 500px;
}

/* Max Widths End */

/* Margins */

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-15 {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-7 {
  margin-bottom: 1.75rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-11 {
  margin-bottom: 2.75rem;
}
.mb-20 {
  margin-bottom: 5rem;
}
.mb-30 {
  margin-bottom: 7.5rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-10 {
  margin-left: 2.5rem;
}

.mr-10 {
  margin-right: 2.5rem;
}
.mr-30 {
  margin-right: 7.5rem;
}

.mr-33 {
  margin-right: 8.25rem;
}

/* Margins End */

/* Padding */

.p-0 {
  padding: 0;
}

.p-6 {
  padding: 1.5rem;
}

.p-10 {
  padding: 2.5rem;
}

.px-13 {
  padding-left: 3.375rem;
  padding-right: 3.375rem;
}

.px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pl-20 {
  padding-left: 5rem;
}

.pr-20 {
  padding-right: 5rem;
}

.pl-16 {
  padding-left: 4rem;
}

.pl-10 {
  padding-left: 2.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.py-13 {
  padding-top: 3.375rem;
  padding-bottom: 3.375rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pt-12 {
  padding-top: 3rem;
}

/* Padding End */

/* Custom */

.pointer {
  cursor: pointer;
}

.opacity-60 {
  opacity: 0.6;
}

.hover-opacity-100:hover {
  opacity: 1;
}

.t-3 {
  transition: 0.3s;
}

.scale-up:hover {
  transform: scale(1.1);
}

.hover-transX:hover .arrow {
  transition: 0.3s ease-in-out;
  transform: translateX(4px);
}

.border-bottom-grey {
  border-bottom: 1px solid #e8e8e8;
}

.shadow-card {
  box-shadow: 0px 20px 15px -10px rgba(25, 32, 68, 0.1);
  border-radius: 4px;
}

.z-0 {
  position: relative;
  z-index: 0;
  opacity: 1 !important;
}

.z-minus {
  z-index: -1;
  opacity: 0 !important;
  transition: all 0.3s;
}

.hover-revealTest:hover .hover-trans-z {
  transform: translateZ(10);
  z-index: 10;
  opacity: 1 !important;
}

.hover-revealTest:hover .z-0 {
  transform: translateZ(10);
  z-index: 0;
  opacity: 0 !important;
}

.p-tag {
  padding: 0.25rem 0.5rem;
}

.br-2 {
  border-radius: 0.5rem;
}

.nav-item-active {
  color: var(--color-red);
}

/* Custom End */

/* Contact Form Classes */

#mpContactHidden {
  display: none;
}

form {
  margin: 40px 0 0;
  width: 100%;
}

form label {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-text-primary);
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
}
form input {
  margin-top: 16px;
  margin-bottom: 40px;
  padding-bottom: 16px;
  font-size: 1.125rem;
  color: var(--color-text-primary);
  letter-spacing: 0;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(172, 180, 184, 0.2);
}
form input:focus {
  outline: none;
  border-bottom: 1px solid var(--color-text-primary);
  transition: 0.3s;
}
form input::placeholder {
  color: #bdbdbd;
}

form textarea {
  margin-top: 16px;
  margin-bottom: 40px;
  padding-bottom: 16px;
  height: 150px;
  font-size: 1.125rem;
  color: var(--color-text-primary);
  line-height: 1.5rem;
  letter-spacing: 0;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(172, 180, 184, 0.2);
  font-family: Ubuntu;
}

form textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--color-text-primary);
  transition: 0.3s;
}

form textarea::placeholder {
  color: #bdbdbd;
}

form p button {
  margin-bottom: 0;
}

/* Contact Form Classes END */

/* Button Classes */

.button-primary {
  background-color: var(--color-bg-button);
  color: var(--color-text-button);
  border: none;
  width: 350px;
  height: 72px;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

.button-primary:hover {
  background-color: var(--color-red);
  color: var(--color-text-button);
  border: none;
  width: 350px;
  height: 72px;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.button-resources {
  background-color: var(--color-bg-button);
  color: var(--color-text-button);
  border: none;
  width: 173px;
  height: 56px;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

.button-resources:hover {
  background-color: var(--color-red);
  color: var(--color-text-button);
  border: none;
  width: 173px;
  height: 56px;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.button-resources-white {
  background-color: var(--color-bg-white);
  color: var(--color-text-primary);
  border: none;
  width: 173px;
  height: 56px;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

.button-resources-white:hover {
  background-color: var(--color-red);
  color: var(--color-text-white);
  border: none;
  width: 173px;
  height: 56px;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.button-subscribe {
  background-color: var(--color-bg-button);
  color: var(--color-text-button);
  border: none;
  width: 300px;
  height: 56px;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

.button-subscribe:hover {
  background-color: var(--color-red);
  color: var(--color-text-button);
  border: none;
  width: 300px;
  height: 56px;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.button-contact {
  background-color: var(--color-bg-button);
  color: var(--color-text-button);
  border: none;
  width: 175px;
  height: 56px;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

.button-contact:hover {
  background-color: var(--color-red);
  color: var(--color-text-button);
  border: none;
  width: 175px;
  height: 56px;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.button-submit {
  background-color: var(--color-bg-button);
  color: var(--color-text-button);
  border: none;
  width: 148px;
  height: 56px;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

.button-submit:hover {
  background-color: var(--color-red);
  color: var(--color-text-button);
  border: none;
  width: 148px;
  height: 56px;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

.button-learn {
  position: absolute;
  bottom: 2.5rem;
  background-color: var(--color-bg-button);
  color: var(--color-text-button);
  border: none;
  width: 177px;
  height: 56px;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: background-color 0.3s;
  cursor: pointer;
}

.button-learn:hover {
  background-color: var(--color-red);
  color: var(--color-text-button);
  border: none;
  width: 177px;
  height: 56px;
  font-size: 1rem;
  line-height: 1.5rem;
  cursor: pointer;
}

/* Button Classes End */

/* POTATO STYLES END */
