body {
  --color-text-primary: #ffffff;
  --color-text-secondary: #ffffff;
  --color-text-button: #141416;
  --color-text-tertiary: #e97777;
  --color-bg-primary: #141416;
  --color-bg-secondary: #20232a;
  --color-bg-tertiary: #e97777;
  --color-bg-button: #fafafa;
  --color-red: #e97777;
  --color-bg-white: #ffffff;
  --color-text-white: #ffffff;
  --color-text-black: #1a1a1a;
  --color-bg-light-grey: #ededed;
  --color-bg-projects: #1a1a1a;
}
